---
import { getCollection } from "astro:content";
import type { Language } from "@/types/language.type";
import { getTranslation } from "@/i18n/index";

const lang = Astro.params.lang as Language;

// Obtener todas las noticias y filtrar por idioma
const allNews = await getCollection("news", ({ data }) => !data.draft);

const news = allNews.filter(({ id }) => {
  const normalizedId = id.replace(/\\/g, "/");
  return normalizedId.startsWith(`${lang}/`);
});

const sortedNews = news.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<div
  class="rounded-2xl border border-neutral-800 bg-neutral-800/50 select-none"
>
  <div
    class="p-4 border-b border-neutral-700 flex items-center justify-between"
  >
    <h3 class="font-semibold">
      {getTranslation(lang, "components.news.title")}
    </h3>
    <a
      title="Ver todas las novedades"
      class="text-neutral-400 text-sm hover:underline"
      href={`/${lang}/news`}
      >{getTranslation(lang, "components.news.seeMore")}</a
    >
  </div>
  <ul class="p-4 space-y-3 text-sm text-neutral-300">
    {
      sortedNews
        .map((item) => (
          <li class="flex gap-2">
            <a
              href={`/${lang}/news/${item.id.replace(/\\/g, "/").replace(`${lang}/`, "")}`}
              class="cursor-pointer mt-1 hover:text-green-400 rounded-full flex gap-2 before:content-['â—'] before:text-green-400"
            >
              {item.data.title}
            </a>
          </li>
        ))
        .slice(0, 5)
    }
  </ul>
</div>
