---
import type { Language } from "../types/language.type";

interface Props {
  lang: Language;
  t: any;
}

const { lang, t } = Astro.props;
---

<footer class="border-t border-neutral-800 py-8 select-none">
  <div
    class="mx-auto max-w-7xl px-4 text-sm text-neutral-400 flex flex-col md:flex-row items-center justify-between gap-4"
  >
    <p>
      {t.components.footer.madeWith}
      <span class="text-red-500">❤︎</span>
      {t.components.footer.and} Astro.js
    </p>
    <div class="flex items-center gap-4">
      <a href={`/${lang}/privacy`} class="hover:text-neutral-200"
        >{t.components.footer.privacy}</a
      >
      <a href={`/${lang}/terms`} class="hover:text-neutral-200"
        >{t.components.footer.terms}</a
      >
      <a href={`/${lang}/contact`} class="hover:text-neutral-200"
        >{t.components.footer.contact}</a
      >
    </div>
  </div>
</footer>
