---
import "../styles/global.css";
import SideBar from "@components/SideBar.astro";
import Aside from "@components/Aside.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Modal from "@components/shared/Modal.astro";

import type { Language } from "@@types/language.type";
import { getTranslation } from "@i18n/index";

const lang = Astro.params.lang as Language;

interface Props {
  title?: string;
  description?: string;
}

const {
  title = getTranslation(lang, "seo.title"),
  description = getTranslation(lang, "seo.description"),
}: Props = Astro.props;
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- SEO Básico -->
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="robots" content="index, follow, max-image-preview:large" />
    <link rel="canonical" href={"https://utilipad.com"} />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={"https://utilipad.com"} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta
      property="og:image"
      content="https://utilipad.com/og/og-home-1200x630.jpg"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:site_name" content="UtiliPad" />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://utilipad.com/og/og-home-1200x630.jpg"
    />

    <!-- Favicon & PWA -->
    <link
      rel="icon"
      href="/icons/favicon-32x32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="/icons/favicon-16x16.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#10b981" />

    <!-- JSON-LD  -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "SoftwareApplication",
        "name": "UtiliPad",
        "applicationCategory": "UtilitiesApplication",
        "operatingSystem": "Web Browser",
        "offers": { "@type": "Offer", "price": "0", "priceCurrency": "USD" },
        "url": "https://utilipad.com",
        "inLanguage": "es"
      }
    </script>

    <!-- Verificación de Motores de Búsqueda -->
    <meta name="msvalidate.01" content="1720E4BBCCA9E707BF295985CA319531" />
    <meta name="yandex-verification" content="94de33fcb2f41ff6" />

    <!-- Analytics y Tracking -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q0C3PRC4E8"
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Q0C3PRC4E8");
    </script>

    <!-- Google AdSense -->
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3668405035365712"
      crossorigin="anonymous"></script>
  </head>
  <body class="bg-primary text-priamry-text">
    <Header />
    <main class="mx-auto max-w-7xl px-4 py-8 grid grid-cols-12 gap-6">
      <SideBar />
      <section class="col-span-12 xl:col-span-7">
        <slot />
      </section>
      <Aside />
    </main>
    <Footer />
    <Modal />
  </body>
</html>
